---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import SectionPlaceholder from '../components/SectionPlaceholder.astro';
import BerandaSection from '../components/BerandaSection.astro';
import DataDesaSection from '../components/DataDesaSection.astro';
import PetaDesa from '../components/PetaDesa.astro'; // <-- Import komponen Peta Baru
---

<Layout title="Desa Sukadana Ilir - Lampung Utara">
	
	<main>
		<Hero />

        <div class="w-full relative z-40 md:sticky md:top-0">
			<Navbar />
		</div>

        <div id="beranda-desa" class="scroll-mt-24 md:scroll-mt-28">
            <BerandaSection />
        </div>
        
        <PetaDesa />
        
        <DataDesaSection />

        <SectionPlaceholder id="pemerintahan-desa" title="Pemerintahan Desa" dark={true} />
		<SectionPlaceholder id="pertanian-desa" title="Pertanian Desa" />
		<SectionPlaceholder id="pendidikan" title="Pendidikan" dark={true} />
		<SectionPlaceholder id="keagamaan" title="Keagamaan" />
		<SectionPlaceholder id="program-&-kegiatan" title="Program & Kegiatan" dark={true} />
		<SectionPlaceholder id="informasi" title="Informasi" />
	</main>

	<footer class="bg-lampung-dark text-lampung-gold py-10 text-center border-t-4 border-lampung-gold font-sans">
		<p class="text-xs opacity-80">© 2026 KKN ITERA & Desa Sukadana Ilir.</p>
	</footer>

</Layout>