---
---
<nav class="commodity-nav">
    <div class="nav-row">
      <button onclick="scrollToSection('tk')" class="card-btn btn-tk">
        <div class="card-btn-icon">
          <img src="/Imagery/icons_education/logo_TK.webp" alt="Logo TK PAUD" />
        </div>
        <span>TK / PAUD</span>
      </button>

      <button onclick="scrollToSection('sd')" class="card-btn btn-sd">
        <div class="card-btn-icon">
          <img src="/Imagery/icons_education/logo_SD.webp" alt="Logo SD" />
        </div>
        <span>Sekolah Dasar</span>
      </button>

      <button onclick="scrollToSection('smp')" class="card-btn btn-smp">
        <div class="card-btn-icon">
          <img src="/Imagery/icons_education/Logo_SMP.webp" alt="Logo SMP" />
        </div>
        <span>SMP</span>
      </button>
    </div>
</nav>